<form id="home_form" class="form-inline">
  <div class="jumbotron">
    <h1>How to use it</h1>
    <p>Just send request to any URL like this one</p>
    <div class="well row">
      <div class="pull-left">
        http://<%= request.host %>/ping/
      </div>
      <div class="pull-left">
        <input id="show_key" type="text" placeholder="any/url/you/want" class="form-control input-lg" required />
      </div>
    </div>
    <p><button type="submit" class="btn btn-primary btn-lg" role="button">Start monitoring requests</button></p>
  </div>
</form>

<script>
  $("#home_form").submit(function(){
    $(this).attr("action", "/show/" + $("#show_key").val());
  });
</script>


